{% extends 'base.html' %}

{% block content %}
    <div class="static">
    {% for block in blocks %}
        <div class="main_block">
            <div class="main_text">
                <h2>{{ block.title }}</h2>
                <p>{{ block.body|safe }}</p>
            </div>
            {% if block.img %}
            <div class="main_img">
                <img src="{{ block.img.url }}">
            </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}