{% extends 'base.html' %}

{% block content %}
<div class="static">
  <h2>Цены на наши услуги</h2>
  <table>
    <thead>
      <tr>
          <td>Наименование</td>
          <td>Цена, руб</td>
      </tr>
    </thead>
    <tbody>
      {% for pos in poses %}
      <tr>
        <td>{{ pos.title }}</td>
        <td>{{ pos.price }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}