{% extends 'base.html' %}

{% block content %}
<div class="static">
  <h2>Наши реквизиты</h2>
  <table>
    <tbody>
      {% for req in requisites %}
      <tr>
        <td>{{ req.title }}</td>
        <td>{{ req.value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}