html, body {
  height: 100%;
  margin: 0;
  max-width: 1920px;
  min-width: 1280px;
  font-family: Cuprum;
}

input {
    font-family: Cuprum;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 5px 5px black;
    align-items: center;
}

#menu_wrapper a {
    text-decoration: none;
    color: black;
    padding: 10px 0;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
}

#menu_wrapper a:hover {
    border-bottom: 2px solid black;
}

#logo {
    margin-left: 50px
}

#logo img {
    height: 100px;
}

#menu_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

#decor {
    height: 100%;
    width: 0px;
    background: black;
    position:relative;
    margin-right: 100px;
}

#decor::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
}

#decor::after {
    content: '';
    position:absolute;
    right: -100px;
    width:0;
    height:0;
    border-top: 100px solid black;
    border-right: 100px solid transparent;
}

#menu {
    height: 100%;
    position:relative;
    background: #b9bab9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
}

#menu::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid #b9bab9;
    border-left: 100px solid transparent;
}

#menu::after {
    content: '';
    position:absolute;
    right: -100px;
    width:0;
    height:0;
    border-top: 100px solid #b9bab9;
    border-right: 100px solid transparent;
}

#menu div {
    margin: 20px;
}

#login_block {
    height: 100%;
    min-width: 350px;
    background: #f08500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_block::before {
    content: '';
    position:absolute;
    left: -100px;
    width:0;
    height:0;
    border-bottom: 100px solid #f08500;
    border-left: 100px solid transparent;
}

.login_label {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 3px solid black;
}

.login {
    display: flex;
}

#content {
    flex: 1 0 auto;
}
#footer {
    flex-shrink: 0;
    /*min-height: 150px;*/
    background: #b9bab9;
    border-left: 50px solid black;
    border-right: 50px solid #f08500;
    padding: 10px 50px 10px 50px;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}

#footer a {
    color: black
}

.copyright {
    align-self: flex-end;
    font-size: 0.8em;
    text-align: center
}