#info {
    width: 100%;
    display: flex;
    justify-content: space-around;

    /*border-bottom: solid 1px black;*/
}

#info div {
    width: 40%;
    margin: 0 30px;
}

#org_info {
    text-align: right
}

#orders {
    width: 100%;
    display: flex;
}

#orders>div {
    height: 800px;
    padding: 5px;
    /*border: 1px solid black;*/
}

#short_info {
    width: 100%;
    height: 80%;
    overflow: scroll;
}

#short_info::-webkit-scrollbar {
    display: none;
}

.short_info_item {
    cursor: pointer;
    width: 95%;
}

.short_info_item>div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.short_info_item:hover {
    background: #f08500;
}

.grayblock {
    margin: 5px;
    padding: 10px;
    background: #b9bab9;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #b9bab9;
}

.selected {
    background: #f08500;
}

#full_info {
    width: 70%;
}

.full_info_item {
    width: 70%;
    display: flex;
    height: 100%;
}

.full_info_item>div{
    padding: 0 5px;
}

.parameters {
    width: 100%;
    height: 100%;
    /*overflow: scroll;*/
}

.parameters>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.parameters>div>div {
    width: 46%;
}

.hidden {
    display: none;
}

.history{
    width: 25%;
}

.hist_item {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.hist_first_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
}

#orders_menu {
    width: 30%;
    padding-left: 10px;

}

#ord_filter {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: right;
}

#ord_filter input {
    height: 95%;
}

#ord_filter input:nth-child(2) {
    width: 70%;
}

#ord_filter input:nth-child(3) {
    width: 15%;
    height: 95%;
    margin: 0;

}

.upload_link {
    align-self: center;
}

.upload_link a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    background: #b9bab9;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #b9bab9;
}

.upload_link a:hover {
    background: #f08500;
}

#upload_form {
    width: 30%;
    min-width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #f08500;
    padding: 30px;
}

#upload_form>div {
    width: 100%;
    margin: 15px 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#upload_form>input {
    height: 30px;
    width: 50%;
    font-size: 1.2em;

}

.upload_field {
    width: 50%;
}

.upload_field * {
    height: 30px;
    width: 100%;
}

.upload_label {
    width: 20%;
}

div.message {
    display: block !important;
    padding-left: 20px;
    background-color: #b9bab9;
    border: 3px solid black;
}
