{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div id="info">
        <div id="user_info">
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p><b>E-mail:</b> {{ user.email }}</p>
            <p><b>Тел.:</b> {{ user.profile.phone }}</p>
        </div>
        {% if user.is_staff %}
        <div class="upload_link">
            <a href="./upload">Загрузить общий Excel</a>
        </div>
        <div class="upload_link">
            <a href="./upload_manager">Загрузить таблицу менеджера</a>
        </div>
        {% endif %}
        <div id="org_info">
            <h2>{{ user.profile.org }}</h2>
            <p>{{ user.profile.org.address }}</p>
        </div>
    </div>
    <div id="orders">
        <div id="orders_menu">
            <h3>Поручения</h3>
            <form id="ord_filter" method="post" >
                {% csrf_token %}
                <input type="text" name="order_num" required="" id="id_order_num" placeholder="Поиск по номеру поручения">
                <input type="submit" value="Найти" />
            </form>
            <form id="short_info" method="post">
                {% csrf_token %}
                {% for pre in menu.fields.order.queryset %}
                <input class="hidden" type="radio" id="id_order_{{ pre.id }}" name="order" value="{{ pre.id }}" onChange="autoSubmit();"/>
                <label for="id_order_{{ pre.id }}" class="short_info_item grayblock {% if pre.pk == order_pk %}selected{% endif %}">
                    <div>
                        <div>Поручение №{{ pre.order_full_num }} от {{ pre.order_date|date:'d.m.Y' }}</div>
                        <div align="right"><span style="color: {{ pre.order_status.color }}">{{ pre.order_status.label }}</span></div>
                    </div>
                    <!--<div>{{ pre.order_from_addr }} -> {{ pre.order_to_addr }}</div>-->
                </label>
                {% endfor %}
            </form>
        </div>
        {% if order %}
        <div class="full_info_item" id="full_info_{{ order.pk }}">
            <div class="parameters">
                <h3>Параметры</h3>
                <div>
                    <div class="grayblock">
                        <p><b>Поручение</b> №{{ order.order_full_num }} от {{ order.order_date|date:'d.m.Y' }}</p>
                        <p><b>Вид поручения:</b> {{ order.order_type }}</p>
                        <p><b>Менеджер:</b> {{ order.order_manager }}</p>
                    </div>
                    <div class="grayblock">
                        <p><b>Заказчик:</b> {{ order.order_subdivision }} {{ order.order_organisation }}</p>
                        <p><b>Договор</b> №{{ order.order_contract }}</p>
                    </div>
                </div>
                <div>
                    <div class="grayblock">
                        <p><b>Отправитель:</b> {{ order.order_sender }}</p>
                        <p><b>Адрес отправки:</b> {{ order.order_from_addr }}</p>
                        <p><b>Планируемая дата отправления:</b> {{ order.order_pick_up_date_plan|date:'d.m.Y' }}</p>
                        <p><b>Фактическая дата отправления:</b> {{ order.order_pick_up_date_fact_carrier|date:'d.m.Y' }}</p>
                    </div>
                    <div class="grayblock">
                        <p><b>Получатель:</b> {{ order.order_recipient }}</p>
                        <p><b>Адрес доставки:</b> {{ order.order_to_addr }}</p>
                        <p><b>Планируемая дата доставки:</b> {{ order.order_arr_date_plan|date:'d.m.Y' }}</p>
                        <p><b>Фактическая дата доставки:</b> {{ order.order_arr_date_fact|date:'d.m.Y' }}</p>
                    </div>
                </div>
                <div>
                    <div class="grayblock">
                        <h3>Груз</h3>
                        <p><b>Наименование:</b> {{ order.cargo_name }}</p>
                        <p><b>Общий вес брутто:</b> {{ order.cargo_weight_brut }}</p>
                        <p><b>Оплачиваемый вес брутто:</b> {{ order.cargo_weight_payed }}</p>
                        <p><b>Количество мест:</b> {{ order.cargo_spaces_num }}</p>
                        <p><b>Страхование:</b> {{ order.insurance }}</p>
                    </div>
                    <div class="grayblock">
                        <p><b>Статус:</b> <span style="color: {{ order.order_status.color }}">{{ order.order_status.label }}</span></p>
                        <p><b>Дата:</b> {{ order.order_status_date }}</p>
                        <p><b>Последнее местоположение:</b> {{ order.order_location }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="static">
        <h2>Для просмотра данной страницы необходима авторизация.</h2>
        <p>Если Вы являетесь клиентом ООО "РТЛ-Таможенный оператор", пожалуйста, авторизуйтесь.</p>
        <p>Если у Вас нет учетных данных, обратитесь за ними к Вашему менеджеру.</p>
    </div>
    {% endif %}
{% endblock %}