{% extends 'base.html' %}
{% block content %}
<form enctype="multipart/form-data" method="post" id="upload_form">
    <h2>Загрузить поручения из Excel</h2>
    {% csrf_token %}
    <div class="message" >
    {% for message in messages %}
        <h3 {% if message.tags == 'error' %} style="color: red" {% endif %}>{{message}}</h3>
    {% endfor %}
    </div>
    <div>
        <div class="upload_label">{{ excel_form.org.label }}:</div>
        <div class="upload_field">{{ excel_form.org }}</div>
    </div>
    <div>
        <div class="upload_label">{{ excel_form.file.label }}:</div>
        <div class="upload_field">{{ excel_form.file }}</div>
    </div>

    <input type="submit" value="Загрузить" />
</form>
{% endblock %}
