{% block login_form %}
    <form class="login" method="post" action="{{request.path}}">
        {% csrf_token %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <table>
            <tr>
                <td align="right">Логин</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td align="right">Пароль</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="Войти" />
    </form>
{% endblock %}