<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>РТЛ-Таможенный оператор</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clientsarea.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/statics.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="header" style="display: flex">
        <div id="logo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>
        <div id="menu_wrapper">
            <div id="decor"></div>
            <div id="menu">
                <div><a href="/">Главная</a></div>
                <div><a href="/clientsarea">Поручения</a></div>
                <div><a href="/price">Цены</a></div>
                <div><a href="/requisites">Реквизиты</a></div>
            </div>
            <div id="login_block">
                {% if user.is_authenticated %}
                <div class="login_label">{{ user.first_name }} {{ user.last_name }}</div>
                <a href="{% url 'logout' %}?next={{request.path}}"><div>Выйти</div></a>
                {% else %}
                    {% include 'users_auth/login.html' %}
                    {% block login_form %}{% endblock %}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <div>
            <!--<h3>Контакты</h3>-->
            <p><b>Телефон:</b> +7 (495) 777-02-90</p>
            <p><b>E-mail:</b> info@rtl-to.ru</p>
        </div>
        <div class="copyright">
            ООО "РТЛ-Таможенный оператор". Все права защищены<br />
            Данный сайт не является публичной офертой
        </div>
        <div>
            <p><b>Адрес:</b> г.Москва, Андроньевская пл., д. 4, стр. 1</p>
            <a href="https://yandex.ru/maps/-/CCUabPrxGA" target="blank">Показать на карте</a>
        </div>
    </div>
</body>
</html>